<form id="autocomplete-container" ng-show="mode == 'polygon'" ng-submit="$event.preventDefault()">
  <img class="search-button map-button md-whiteframe-1dp" src="images/icons/search-icon.png" ng-click="toggleAutocompleteVis()"/>
  <md-autocomplete ng-if="isShown" class="address-search"
    md-selected-item="address.selected"
    md-search-text="address.text"
    md-search-text-change="onTextChange()"
    md-items="address in fetchAddress(address.text)"
    md-item-text="address.properties.Adresse"
    md-min-length="4"
    md-dropdown-position="bottom"
    md-delay="600"
    placeholder="Search for an address..."
    md-menu-class="address-search-template">
    <md-item-template>
      <div ng-mouseover="highlightMarker(address)">
       <span class="item-title">
         <md-icon md-svg-icon="{{getIconForAddress(address.properties.Kategorie)}}"></md-icon>
         <span> {{address.properties.Adresse}} </span>
       </span>
          <span class="item-metadata">
            <span class="item-metastat">
              <strong>{{convertDistrict(address.properties.Bezirk)}}</strong>
            </span>
            <span class="item-metastat">
              <strong>{{address.properties.Kategorie}}</strong>
            </span>
          </span>
      </div>
    </md-item-template>
  </md-autocomplete>
</form>
